QToolButton {
	height: 32px;
	width: 32px;
}
QPushButton {
	height: 35px;
	width: 35px;
}
QAbstractButton {
	border: 2px solid gray;
	border-style: outset;
	border-radius: 5px;
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FFFFCC, stop: 1 #FFFFFF);
}
QAbstractButton:pressed {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #dadbde, stop: 1 #f6f7fa);
}
